<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">
            jdbc:oracle:thin:@gromcode-lessons.cgumkbozheyb.eu-west-3.rds.amazonaws.com:1521:ORCL
        </property>
        <property name="hibernate.connection.username">main</property>
        <property name="hibernate.connection.password">gromcode</property>
        <!--        <property name="show_sql">true</property>-->

        <!--        <mapping class="hibernate.lesson5.example.Product"/>-->
        <!--        <mapping class="hibernate.lesson6.fullproductdao.Product"/>-->
        <!--        <mapping class="hibernate.lesson6.productdaohql.Product"/>-->
        <mapping class="hibernate.lesson6.productdaonativesql.Product"/>

        <mapping class="hibernate.lesson7.entity.Hotel"/>
        <mapping class="hibernate.lesson7.entity.Room"/>
    </session-factory>
</hibernate-configuration>